@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
background: #FFFFFF;
background: radial-gradient(at center, #FFFFFF, #949494);
}

.container{
border: 5px solid white;
margin:30vh 35vh;
background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(121,9,9,1) 50%, rgba(170,0,0,1) 100%);
border-radius: 50px;
display: flex;
}

.container button{
    margin-left: 1.5vh;
    color: white;
    font-weight: 600;
    }

.container h5{
    color: white;
    font-size:large;
    font-size: 3vh;
    padding: 0 18%;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: underline;
}

.resultado {
    margin: auto;
    color: white;
    font-size:2.6em;
    font-weight: 900;

 }

 